.header {
  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #ffffff;
  position: relative;
}

.header__nav {
  position: relative;
  background-color: $light-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__logo {
  min-height: 69px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.header__img {
  margin: 20px 0 0 20px;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-end) {
  .header {
    background: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .header__logo {
    min-height: 109px;
  }

  .header__img {
    margin: 27px 0 0 20px;
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 0 130px 0 130px;
    background: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .header__logo {
    display: flex;
    align-items: center;
    border-top: none;
  }

  .header__img {
    margin: 0;
    width: 147px;
    height: 40px;
  }
}
