.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.nav__link {
  display: inline-block;
  width: 100vw;
  text-align: center;
  font-size: 18px;
  line-height: 62px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 -2px rgba(0, 0, 0, 0.4);
  &:visited {
    color: $white;
  }
  &:focus {
    outline: none;
  }
  &:active {
    color: $pink-opacity;
  }
}
/*
@media (min-width: $tablet-width) {

}

@media (min-width: $tablet-width) and (max-width: $tablet-end) {

}*/

@media (min-width: $desktop-width) {
  .nav__link:hover {
    color: $pink;
  }
}
