.presentation {
  display: flex;
  flex-direction: column;
}

.presentation__look {
  padding: 29px 20px 30px 20px;
  min-height: 395px;
  box-sizing: border-box;
  position: relative;
}

.presentation__heading {
  color: $white;
  font-family: "OpenSans", "Verdana", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.presentation__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 257px;
  height: 286px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-end) {
  .presentation {
    max-width: 48vw;
    justify-content: center;
    min-height: 620px;
  }

  .presentation__look {
    position: static;
    min-height: 0;
  }

  .presentation__heading {
    font-size: 40px;
    line-height: 45px;
    margin: 10px 60px 10px 60px;
  }

  .presentation__img {
    height: 545px;
    width: auto;
    bottom: 1px;
    right: 0;
    left: auto;
  }
}

@media (min-width: $desktop-width) {
  .presentation__heading {
    font-size: 50px;
  }
}
