$tablet-width: 768px;
$desktop-width: 1200px;
$tablet-end: 1199px;
$bg-grey: #f2f2f2;
$light-blue: hsla(211, 42%, 27%, 1); //#283645;
$white: hsla(0, 0%, 100%, 1); //#ffffff;
$pink: hsla(344, 68%, 49%, 1); //#d22856;
$pink-opacity: hsla(344, 68%, 49%, 0.3);
